.spacer{
    margin-bottom: 50px;
}

.overlay {
    height: 100vh;
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.4;
}

.pad1-cover{
    height: 100vh;
    background-image: url('./img/bert-sz-1213179-unsplash.jpg');
    background-size: cover;
}

.pad2-cover{
    height: 100vh;
    background-image: url('./img/max-bender-580753-unsplash.jpg');
    background-size: cover;
}

.pad3-cover{
    height: 100vh;
    background-image: url('./img/vlad-tchompalov-450762-unsplash.jpg');
    background-size: cover;
}

.navbar {
    background: transparent;
}

.navbar a{
    color: white;
    cursor: pointer;
}

.navbar a:hover{
    background: transparent;
    color: black;
}

.pad-wrapper{
    max-width: 65%;
}

.pad-area{
    width: 70%;
    height: 645px;
    border-radius: 5px;
    background: #141414;
    border: 2px solid  rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.pad-container{
    height: 100%;
    padding-top: 7.5%;
    text-align: center;
}

.pad-container li{
    display: inline-block;
    width: 30%;
    height: calc(100%/3.5);
}

.pad{
    background: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 2px 2px 11px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 11px 5px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 11px 5px rgba(0,0,0,0.75);
    transition: all 0.07s;
}

.on{
    transform: scale(1.1);
    -webkit-box-shadow: 0px 2px 25px 0px rgba(255,9,0,0.87);
    -moz-box-shadow: 0px 2px 25px 0px rgba(255,9,0,0.87);
    box-shadow: 0px 2px 25px 0px rgba(255,9,0,0.87);
}

@media screen and (min-width: 900px){
    .pad-area {
        width: 60%;
        height: 530px;
    }
    .pad-container li {
        width: 30%;
    }
}

@media screen and (max-width: 900px){
    .pad-container li {
        width: calc(33% - 1.5%);
    }
    .pad-area {
        width: 100%;
        height: 500px;
    }
    .pad-wrapper {
        max-width: 95%;
    }
}